.header__square-pic {
    animation: rotation1 20s linear infinite;
}

.kaufman__triangle {
    animation: rotation2 20s linear infinite;
}

@keyframes rotation1 {
    from {
      transform: rotate(-15deg);
    }
    to {
      transform: rotate(345deg);
    }
  }

  @keyframes rotation2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }