.header__logo {
    position: absolute;
    top: 30px;
    left: 64px;
    width: 154px;
    height: 31px;
    background-image: url('../../../../images/logo_place_header.png');
    background-size: contain;
    z-index: 2;
    
  }